%article.labs_project
  .project_language #{image_tag 'labs/ruby.png', :title => 'Ruby', :size => '24x24'}
  .project_image #{link_to image_tag('labs/dojorn_small.jpg', :size => '100x100'), image_path('labs/dojorn.jpg'), :rel => 'shadowbox[CoGUMm Labs - DojoRN]'}
  .project_info
    %h2.project_title #{link_to 'DojoRN', 'https://github.com/cogumm/DojoRN', :target => :_blank}
    %h4.project_author #{link_to 'Gabriel Feitosa Vilar', 'http://github.com/cogumm', :target => :_blank}
    %p.project_description= raw t('labs.dojorn.desc')
  .clear
  %hr
  .project_actions
    .install
      %code git clone git@github.com:cogumm/DojoRN.git
    .action.view_source #{link_to t('labs.source'), 'https://github.com/cogumm/DojoRN', :target => :_blank}
    .action.download #{link_to 'download', 'https://github.com/cogumm/DojoRN/archives/master', :target => :_blank}
    .clear
