%article.labs_project
  .project_language #{image_tag 'labs/ruby.png', :title => 'Ruby', :size => '24x24'} #{image_tag 'labs/git.png', :title => 'Git', :size => '24x24'}
  .project_image #{image_tag('labs/blank.jpg', :size => '100x100')}
  .project_info
    %h2.project_title #{link_to 'Ruby-Unix', 'https://github.com/cogumm/ruby-unix', :target => :_blank}
    %h4.project_author #{link_to 'Gabriel Feitosa Vilar', 'http://github.com/cogumm', :target => :_blank}
    %p.project_description= raw t('labs.ruby-unix.desc')
  .clear
  %hr
  .project_actions
    .action.view_source #{link_to t('labs.source'), 'https://github.com/cogumm/ruby-unix', :target => :_blank}
    .action.download #{link_to 'download', 'https://github.com/cogumm/ruby-unix/archives/master', :target => :_blank}
    .clear
