.wrapper
  %section
    .work_showcase_info
      %h3
        #{image_tag('portfolio/abada/logo.png', :alt => 'AbadáWeb', :size => "225x90")}
      %p
        #{raw (t('abada.description'))}
      .portfolio_links
        %p
          #{link_to 'Visitar website', 'http://abadaweb.com.br/', :class => 'twitter cgm_button', :target => :_blank }
        .clear
        %hr
        %h4 #{t('abada.screenshots')}
        %ul.showcase_more_images
          %li
            #{link_to image_tag('portfolio/abada/compra.png', :size => "90x70"), image_path('portfolio/abada/compra.png'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'}
          %li
            #{link_to image_tag("portfolio/abada/admin.png", :size => "90x70"), image_path('portfolio/abada/admin.png'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'}
    .work_showcase_image
      #{image_tag 'portfolio/abada/abada.png', :title => 'AbadáWeb', :alt => 'AbadáWeb', :size => "550x390" }
    .clear