.labs_header_wire
#cgm_labs
  .wrapper
    %section
      %h1 #{image_tag 'labs/cgm_labs.png', :alt => 'CoGUMm Labs', :size => '409x194'}
      = render 'site/labs/urele'
      %br
      = render 'site/labs/spry'
      %br
      = render 'site/labs/ruby-unix'
      %br
      = render 'site/labs/cancan'
      %br
      = render 'site/labs/asciicasts'
      %br
      = render 'site/labs/performance'
      %br
      = render 'site/labs/dojorn'
      %br
      .clear
.clear
.labs_footer_wire
